{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="kirjaudu">
</form>
<form action="/register">
    <input type="submit" value="Luo käyttäjätunnus">
</form>
{% endif %}
<form action="/search" method="GET">
    Hakusana: <input type="text" name="query">
    <br>
    <input type="submit" value="Etsi">
</form>
<hr>
<h4>Aihealueet:</h4>
{% for section in sections %}
<a href="/section/{{ section.id }}"> {{ section.name }} </a><br>
<hr>
{% endfor %}