{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<br>
{% else %}
<form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="kirjaudu">
</form>
<form action="/register">
    <input type="submit" value="Luo käyttäjätunnus">
</form>
{% endif %}
<br>
<form action="/search" method="GET">
    Hakusana: <input type="text" name="query">
    <br>
    <input type="submit" value="Etsi">
</form>
<br>

{% if session.role != 2 %}
<h4>Aihealueet:</h4>
<hr>
{% for section in sections %}
{% if section.access == 1 %}
<a href="/section/{{ section.id }}"> {{ section.name }} </a><br>
<hr>
{% endif %}
{% endfor %}
{% endif %}


{% if session.role == 2 %}
<a href="/new_section" method="GET">Luo uusi aihealue</a>
<h4>Aihealueet:</h4>
<hr>
{% for section in sections %}
{% if section.access == 1 %}
<a href="/section/{{ section.id }}"> {{ section.name }} </a><br>
<form action="remove_section/{{ section.id }}" method="POST">
    <input type="submit" value="Poista aihealue ja kaikki sen viestit">
</form>
<hr>
{% endif %}
{% endfor %}

<h4>ADMIN ALUEET</h4><hr>
{% for section in sections %}
{% if section.access == 2 %}
<a href="/section/{{ section.id }}"> {{ section.name }} </a><br>
<form action="remove_section/{{ section.id }}" method="POST">
    <input type="submit" value="Poista aihealue ja kaikki sen viestit">
</form>
<hr>
{% endif %}
{% endfor %}
{% endif%}