{% extends "layout.html" %}
{% block title %}Ohjeita{% endblock %}
{% block content %}

<div class="content">
    <h1>Ohjeet</h1>
    <p>Tervetuloa käyttämään sovellusta!</p>
    
    <p>
        Sovelluksessa on mahdollista aloittaa ketjuja ja vastata ketjuihin. 
        Sovelluksessa on eri aihealueita, joita ylläpitäjät voivat lisätä tai poistaa tahtonsa mukaan. 
        Sovelluksessa on kahdenlaisia käyttäjiä, tavallisia käyttäjiä ja ylläpitäjiä.
    </p>
    <p>
        Kaikki voivat selata ketjuja ja niiden viestejä, mutta vain rekisteröityneet käyttäjät voivat lähettää viestejä
        Käyttäjät voivat poistaa omia viestejään, sekä aloittamia ketjujaan.
    </p>
    <p>
        Ylläpitäjillä on enemmän oikeuksia kuin tavallisilla käyttäjillä. Ylläpitäjät voivat lisätä sekä poistaa aihealueita, mitä käyttäjät eivät voi tehdä.
        Ylläpitäjät voivat myös poistaa kenen tahansa käyttäjän lähettämiä viestejä ja ketjuja.
    </p>
    <p>
        Sovelluksessa voi rekisteröityä uutena käyttäjänä ja kirjautua sisään olemassaolevalle käyttäjälle.
        Lisäksi sovelluksessa on hakutoiminto, jonka avulla voi etsiä eri ketjujen aiheita, ei siis viestien sisältöä.
    </p>
</div>




{% endblock %}