{% extends "layout.html" %}
{% block title %}Uusi ketju{% endblock %}
{% block content %}

<p>Luo uusi ketju alueelle: <b>{{ section.name }}</b></p>
<form action="/create/{{ section.id }}" method="POST" onsubmit="return check(this)">
    <p>Aihe:<br>
    <input type="text" name="topic"></p>
    <p>Viesti:</p>
    <textarea name="message" rows="3" cols="40"></textarea>
    <input type="hidden" name="section" value="{{ section.id }}">
    <input type="submit" value="Luo ketju">
</form>

<script>
function check(form) {
    if (form.topic.value.length > 100) {
        alert("Otsikko on liian pitkä, sen pitää olla alle 100 merkkiä");
        return false;
    }
    if (form.topic.value.length < 3) {
        alert("Otsikko on liian lyhyt, sen pitää olla vähintään 3 merkkiä")
    }
    if (form.message.value.length > 5000) {
        alert("Viesti on liian pitkä, sen pitää olla alle 5000 merkkiä")
        return false;
    }
    return true;
}
</script>

{% endblock %}
