<h2>Rekisteröidy:</h2>

<form action="/register" method="POST">
    Tunnus: <br><input type="text" name="username" minlength="3" maxlength="20"> 
    <p>Tunnuksen on oltava 3-20 merkkiä pitkä</p>
    <p>
    Salasana: <br><input type="password" name="password1">
    <p>
    Salasana uudestaan: <br><input type="password" name="password2">
    <p>
    Käyttäjärooli:
    <select name="role">
        <option value=1> Käyttäjä
        <option value=2> Admin
    </select>
    <input type="submit" value="Luo tunnus">
</form>
<p>
<a href="/">Etusivu</a>