{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<a href="/new">Uusi ketju</a>
{% else %}
<form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="text" name="password"></p>
    <input type="submit" value="kirjaudu">
</form>
{% endif %}
<form action="/search" method="GET">
    Hakusana: <input type="text" name="query">
    <br>
    <input type="submit" value="Lähetä">
</form>
<hr>
<p>Hakusana: {{ query }}</p>
{% for thread in threads %}
Aihe: {{ thread.topic }} <br>
Luotu: {{ thread.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
<a href="/thread/{{ thread.id }}">Näytä ketju</a><br>
<hr>
{% endfor %}
<a href="/">Palaa etusivulle</a>